* {
    font-family: "Lora", serif;

}

body, html {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.download-btn {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}

.download-btn button {
    color: white;
    background-color: #3070bf;
    padding: 7.1px 32px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    width: 197px;
}

.download-btn button:hover {
    cursor: pointer;
}


